
body {

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quadrant{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin: 10px;
}

.border{
    border: 1px solid black;
}

.option-images{
    height: 50px;
    width: 50px;
}

.individual-score{
    margin: 10px
}

.q1-spacing{
    margin: 20px;
}

.q2-spacing{
    margin: 10px;
}

#reset-button{
    display: none;
    margin: 20px;
}

#start-button{
    display: inline; 
    margin: 20px;
}

input[type=radio]{
    display: none;
}

input[type=radio]:checked + img{
    border: 1px solid black;
}